body {
    /* background-color: black; */
    /* color: lightgreen;    */
    font-size: medium;
}

td, th{
    border: 1px solid black;
    padding: 5px;     
}

.na {
    border: 0px;
    color: white;
}